/* General styling for entire page */
p {
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.mainContainer {
    color: #E1E1E1;
    margin: 0px auto;
    clear: both;
    overflow: auto;
}
body {

   background-image: url("http://x.annihil.us/u/prod/marvel/i/mg/8/b0/537ba702ad5b3.gif");
   background-size:100%;
   
}


#numberOfGuesses{
    color:#D22727;
  
    padding: 20%;

}
.title{
    color:#FFFFFF;

}


#line{

   color: #FFFFFF;
   font-size: 50px;
   text-align: center;
   height: 100px;
}

#wordBank{
   
   color: #FFFFFF;
   font-size: 30px; 
   text-align: center;
   height:2em;
   border-top: 1px solid #FFFFFF;
   padding: 7px;
   margin-top: 15px;
   max-width: 50%;
   margin-left: 9.3em;
}

.wins{
   
   margin-left: 3em;
    color: #FFFFFF;
}

.loses{
    margin-right: 3em;
    color:#FFFFFF;
}

.section1 img{
    margin-left: 9em;
}